/* General setup */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  font-size: 10px; /* site-wide 10px base font size*/
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid gold;
  border-bottom: 5px solid gold;
}

/* WRITE YOUR CODE BELOW HERE */

/* fonts */


h1 {
  font-size: 3rem;
  text-align: center;
  font-family: 'DM Serif Display', serif;
  letter-spacing: 1.5px;
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-family: 'DM Serif Display', serif;
  letter-spacing: 1.5px;
}

p {
  font-size: 1em;
  line-height: 1.7;
  font-family: 'IBM Plex Serif', serif;
}

a:hover, a:focus, a:link {
  text-decoration: none;
  color: goldenrod;
}

a[href*="http"] {
  padding-right: 19px;
  background: url(external-link-52.png) no-repeat 100% 0;
  background-size: 16px 16px;
}

a:visited {
  color: gold;
}

a:focus {
  outline: none;
}

section ul {
  line-height: 1.7;
}

li {
  line-height: 1.7;
}

ul {
  margin: 1.5rem 0;
}

ol {
  margin: 1.5rem 0;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: lower-latin;
}

nav ul {
  padding-left: 0;
  margin-top: 0.3rem;
}

nav li {
  list-style-type: none;
  margin-bottom: 0.8rem;
}

nav li a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  line-height: 3;
  text-align: center;
  font-size: 1.4rem;
  border: 1px solid goldenrod;
}

nav li a:focus, nav li a:hover {
  color: white;
  background: goldenrod;
}

nav li a:active {
  color: white;
  background: black;
}