html {
  font-family: sans-serif;
}

/* Your CSS below here */
div {
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 18px;
  /* I watched what the teacher did */
  background-color: seagreen;

  border-radius: 20px;
  background-image: linear-gradient(to right bottom);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5), /*add further parameters separated by commas for the same box shadow entry*/;
}